body {
  font-family: Roboto ,Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: relative;
}
.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}
.login-container input[type="text"],
.login-container input[type="password"] {
  width: calc(100% - 1px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
}
.login-container button:hover {
  background-color: #45a049;
}

#signup-button {
  width: 100%;
  padding: 10px;
  background-color: rgb(74, 113, 198);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#signup-button:hover {
  background-color: rgb(44, 83, 167);
}

.show-password {
  position: absolute;
  left: 17px;
  bottom: 125px;
  display: flex;
  align-items: center;
  font-size: 13.5px;
}